<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<div id="students">
  <table class="table">
  <thead>
  <tr>
    <th>Indeks</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Grupa</th>
    <th></th>
  </tr>
  </thead>

  <% @students.each do |student| %>
    <%= render student %>

  <% end %>
    <%= render "form", student: @student %>
  </table>

</div>


