<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <table class="table">
    <thead>
    <tr>
      <td>Nazwa</td>
      <td>Semestr</td>
      <td>Studenci</td>
      <td>Przedmioty</td>
      <td></td>
    </tr>
    </thead>



  <% @groups.each do |group| %>
      <%= render group %>

  <% end %>
    <%= render "form", group: Group.new %>
  </table>
</div>


