<p style="color: green"><%= notice %></p>

<h1>Courses</h1>

<div id="courses">
  <table class="table">
  <% @courses.each do |course| %>
    <%= render course %>



  <% end %>
  </table>
</div>

<%= link_to "New course", new_course_path %>
